@model RentCarProject.Models.Cars

<h2>Admin Car Add page</h2>
<br />
@using (Html.BeginForm("AddCar", "Cars", FormMethod.Post))
{
    <b>Car mark</b>
    @Html.TextBoxFor(x => x.CarMark, new { @class = "form-control" })

    <br />

    <b>Car Model</b>
    @Html.TextBoxFor(x => x.CarModel, new { @class = "form-control" })

    <br />

    <b>Car Model Year</b>
    @Html.TextBoxFor(x => x.ModelYear, new { @class = "form-control" })

    <br />

    <b>Price</b>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">save</button>


}